#
# Copyright (c) 2020 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

# STEP 6 - Define a custom Kconfig for enabling myfunction
config MYFUNCTION
	bool "Enable my function"
	default n